.cadre {

    display: inline-block;
    width: 90%;
    height: auto;
    border: 1px double black;
    padding-inline: 20px;
    margin: 3px;

}

.line {
    display: flex;
    align-items: center;
    margin: -5px;
}

.donnee {
    display: flex;
    border: 1px double black;
    padding-inline: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    position: absolute;
    left: 180px;
}

.val {
    margin: 0px;
}

.unite {
    margin: 0px;
}

#debitSang {
    margin: 10px;
}
